 :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f8f7ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #9381ff;
  --secondary: #b8b8ff;
  --bg-light: #f8f7ff;
  --accent-cream: #ffeedd;
  --accent-peach: #ffd8be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #9381ff;
  text-decoration: none;
}
a:hover {
  color: #b8b8ff;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f7ff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #9381ff;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #b8b8ff;
}
